
*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    background-color: brown;
}

header {
    display:flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    margin-right: 20px;
}

img {
    max-width: 50% ;
    
}

.historias{
    background-color: beige;
}

.historias h2 {
    text-align: center;
}
article {
    margin-top: 30px;
    margin-left: 50px;
}

.suscribirse {
    margin-top: 30px;
    margin-left: 30px;
}

